body {
   font-family: "Pixelify Sans", sans-serif;
   text-align: center;
   background-color: #ffc2d9;
  }

  input[type=text], select {
   font-family: "Pixelify Sans", sans-serif;
   width: 30%;
   padding: 12px 20px;
   margin: 8px 0;
   background: #ccdcfc;
   display: inline-block;
   border: 2px solid #000;
   border-radius: 4px;
   box-sizing: border-box;
}

.cat, .dog {
   display: flex;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   width: 20%;
}


.cats, .dogs {
   display: flex;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   width: 20%;
}