body {
   color: pink;
   font-family: "Pixelify Sans", sans-serif;
}

.bold {
   font-weight: bold;
}

#intro {
   padding-top: 10%;
   padding-bottom: 5%;
text-align: center;
}

#start {
   font-size: 24pt;
}

.q1 {
   text-align: center;
   color: black;
   font-size: 48pt;
}